.container {
  margin: 6.4%;
}

.speaker-one-container {
  background-color: #d87d4a;
  /* background-image: linear-gradient(#D87D4A, #D87D4A), url("../../../assets/home/desktop/pattern-circles.svg"); */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 55px 5%;
  box-sizing: border-box;
  height: 600px;
}

.speaker-one-container img {
  width: 50%;
  max-width: 154px;
}

.speaker-one-container h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-align: center;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #ffffff;
}

.speaker-one-container p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.speaker-two-container {
  width: 100%;
  background: url("../../assets/home/mobile/image-speaker-zx7.jpg") no-repeat;
  background-size: cover;
  height: 320px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.speaker-two-container h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.speaker-two-container div {
  width: fit-content;
  height: 118px;
  position: relative;
  top: 101px;
  left: 24px;
}

.earphones-container {
  width: 100%;
  margin-bottom: 120px;
}

.earphones-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
}

.earphones-container h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.earphones-mask {
  width: 100%;
  background: #f1f1f1;
  border-radius: 8px;
  padding: 41px 56px 41px 24px;
  box-sizing: border-box;
}

.btn-black {
  background-color: #000000;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
