.container {
  background: #101010;
  height: 654px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 52px 6.4% 38px;
  position: relative;
  box-sizing: border-box;
}

.container ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.container li {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 192%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.container li:hover,
.container li:active,
.container svg {
  cursor: pointer;
  opacity: 80%;
}

.container p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.container p:last-of-type {
  font-weight: 700;
}

.copyright-logos div {
    width: 27.7%;
    min-width: 104px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange-line {
    width: 27%;
    border-top: 4px solid #D87D4A;
    position: absolute;
    top: 0;
}

@media (min-width: 481px) {
  .container {
    align-items: flex-start;
    height: 400px;
  }
  .container ul, .container p {
    text-align: left;
  }
  .orange-line {
    left: 6.4%;
  }
  .container ul {
    display: flex;
    flex-direction: row;
    gap: 6.4%;
    margin-top: 32px;
  }
  .copyright-logos {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .copyright-logos div {
    width: 104px;
  }
}