.container {
  margin-top: 90px;
  padding: 0 6.4%;
  box-sizing: border-box;
}

.back-btn {
  margin-top: 16px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.back-btn:hover,
.back-btn:active {
  cursor: pointer;
  color: #d87d4a;
  opacity: 90%;
}

.container form {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 32px;
}

.container h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
}

.container h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 192%;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #d87d4a;
}

.container label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
}

.container input {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  height: 56px;
  padding: 18px 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  mix-blend-mode: normal;
  opacity: 0.6;
  box-sizing: border-box;
  width: 100%;
  margin-top: 9px;
}

.radio {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  margin-top: 16px;
  height: 54px;
}

.radio input {
  width: 15px;
  margin: 0 21px 0 20px;
  accent-color: #d87d4a;
  cursor: pointer;
  height: fit-content;
}

.radio label {
  line-height: 54px;
}

.radio:hover,
.radio:active {
  cursor: pointer;
  border: 1px solid #d87d4a;
}

.checked {
  border: 1px solid #d87d4a;
  accent-color: #d87d4a;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cart-items {
  width: 100%;
  border-radius: 8px;
}

.cart-items img {
  width: 200px;
}

.summary-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.summary-product :first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.summary-product h4,
.summary-product p {
  margin: 0;
}

.summary-product img {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}

.summary-product h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 167%;
}

.summary-product p {
  font-weight: 700;
  font-size: 14px;
  line-height: 179%;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.total div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 167%;
  mix-blend-mode: normal;
  opacity: 0.5;
  text-transform: uppercase;
  margin: 0;
}

.total p {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.total {
  margin-bottom: 8px;
}

.total div:last-of-type {
  margin-top: 16px;
  margin-bottom: 32px;
}

.cart-items .btn {
  width: 100%;
  margin-bottom: 129px;
}